.main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 100px;
  min-height: 100vh;
  background-image: url('../images/all-background.png');
  background-size: contain;
}

.main.Gryffindor {
  background-image: url('../images/gryffindor-background.jpeg');
  background-size: contain;
}

.main.Slytherin {
  background-image: url('../images/slytherin-background.png');
  background-size: contain;
}

.main.Ravenclaw {
  background-image: url('../images/ravenclaw-background.jpeg');
  background-size: contain;
}

.main.Hufflepuff {
  background-image: url('../images/hufflepuff-background.jpg');
  background-size: contain;
}
